<h1>Pet Information</h1>

<h2>Name: <%=@pet.name%></h2>
<h2>Name: <%=@pet.breed%></h2>

<a href="/pets">Back to All Pets</a>
<a href="/pets/<%=@pet.id%>/edit">Edit Pet</a>
<a href="/pets/<%=@pet.id%>" data-turbo-method="delete">Remove Pet</a>
